.container {
	padding: 3.125rem 0;
	margin: auto;
}
.top {
	display: flex;
	justify-content: space-between;
}
.top p {
	width: 70%;
}
.card_container {
	display: flex;
	gap: 24px;
	justify-content: space-around;
	margin-bottom: 8rem;
}
.card {
	display: flex;
	margin: 1.5rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card h6 {
	margin: 16px auto 0;
}
.card iframe {
	width: 100%;
	min-height: 60dvh;
	max-height: 80dvh;
	border-radius: 12px;
	border: none;
}
.card h6:hover {
	transform: scale(1.25);
	transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1040px) {
	.container {
		padding: 2.125rem 0;
	}
	.card_container {
		grid-template-columns: 1fr;
	}
	.top p {
		width: 50%;
	}
}
@media screen and (max-width: 990px) {
	.container {
		padding: 2.125rem 0;
	}
}
@media screen and (max-width: 768px) {
	.card_container {
		grid-template-columns: 1fr;
	}
	.top {
		flex-direction: column;
	}
	/* .card {
		display: flex;
		justify-content: center;
		align-items: center;
	} */
}
