.container {
	padding: 3.125rem;
	background-color: #191919;
}
.top {
	display: flex;
	justify-content: space-between;
}
.top p {
	width: 50%;
}
.top button {
	background: none;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 1rem;
}
.top button:hover {
	cursor: pointer;
	color: #f9004d;
}
.card_container {
	display: flex;
	/* grid-template-columns: 50% 50%; */
	justify-content: center;
	margin-bottom: 3rem;
}
.card {
	overflow: hidden;
	border-radius: 12px;
	margin: 1rem;
}
.card img {
	width: 285px;
}
.card img:hover {
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

@media screen and (max-width: 990px) {
	.container {
		padding: 2.125rem;
	}
}
@media screen and (max-width: 768px) {
	.card_container {
		flex-direction: column;
	}
	.card {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
