.header {
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem 1rem 2rem;
}
.container_right {
	display: flex;
}
.links {
	display: flex;
	align-items: center;
	color: #c6c9d2;
}
.links h5 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 1rem;
	cursor: pointer;
}
.links h5:hover {
	color: #f9004d;
	transition: color 0.5s ease-in-out;
	transform: translateY(-3px);
}

.links a {
	border-radius: 5px;
	font-size: 1.125rem;
	font-weight: 600;
	color: #c6c9d2;
	/* background: none; */
	padding: 1.2rem;
}
.links a:hover {
	cursor: pointer;
	color: #fff;
	background-color: #f9004d;
	transition: all 0.5s;
	transform: translateY(-5px);
}
@media screen and (max-width: 990px) {
	.header {
		padding: 1rem 2rem 1rem 1rem;
	}
	.button {
		margin-left: 0;
	}
}
@media screen and (max-width: 575px) {
	.links {
		display: none;
	}
}
