.container {
	padding: 3.125rem;
	background-color: #191919;
}
.top {
	display: flex;
	justify-content: space-between;
}
.top p {
	width: 70%;
}
.top button {
	background: none;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 1rem;
}
.top button:hover {
	cursor: pointer;
	color: #f9004d;
}
.card_container {
	display: grid;
	gap: 24px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	margin-bottom: 3rem;
}
.card {
	margin: 1.5rem 0;
}
.card h6 {
	display: flex;
	margin: 16px auto 0;
	justify-content: center;
}
.card iframe {
	width: 100%;
	min-height: 60dvh;
	max-height: 80dvh;
	border-radius: 12px;
	border: none;
}
.card h6:hover {
	transform: scale(1.25);
	transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1040px) {
	.container {
		padding: 2.125rem;
	}
	.card_container {
		grid-template-columns: 1fr;
	}
	.top p {
		width: 50%;
	}
}
@media screen and (max-width: 990px) {
	.container {
		padding: 2.125rem;
	}
}
@media screen and (max-width: 768px) {
	.card_container {
		grid-template-columns: 1fr;
	}
	.top {
		flex-direction: column;
	}
	/* .card {
		display: flex;
		justify-content: center;
		align-items: center;
	} */
}
