.about_container {
	display: grid;
	gap: 24px;
}
@media screen and (max-width: 768px) {
	.about {
		margin-top: 40px;
		padding: 0;
	}

	@media screen and (max-width: 575px) {
		.about_container {
			grid-template-columns: auto;
		}
	}
}
