.container {
	padding: 7.5rem 0;
	text-align: center;
}
.container h5 {
	padding: 0 9.9rem;
}
.container h6 span {
	text-transform: uppercase;
	color: #fff;
}

.container h6 {
	color: rgba(198, 201, 216, 0.75);
}
.img_container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-content: center;
}
.img_container img {
	margin: 1rem;
	border-radius: 8px;
	width: 73px;
}
.img_container img:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 990px) {
	.container {
		padding: 4.5rem 0;
	}
	.container h5 {
		padding: 0 6rem;
	}
}
@media screen and (max-width: 480px) {
	.container h5 {
		padding: 0 1rem;
	}
	.img_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
