.container {
	padding: 7.5rem 0;
	text-align: center;
}
.container h5 {
	padding: 0 9.9rem;
}
.container h6 span {
	text-transform: uppercase;
	color: #fff;
}

.container h6 {
	color: rgba(198, 201, 216, 0.75);
}

@media screen and (max-width: 990px) {
	.container {
		padding: 4.5rem 0;
	}
	.container h5 {
		padding: 0 6rem;
	}
}
@media screen and (max-width: 480px) {
	.container h5 {
		padding: 0 1rem;
	}
}
